:root {
  --color-primary: #5863b2;
  --color-primary-pale:#b1b5d4;
  --color-primary-light:#9ca2cf;
  --color-primary-dark: #454F8C;
  --color-primary-darker:#262f6b;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #414A89;
  color: #fff;
  line-height: 1.5;
  min-width: 20rem;
}

/* ----------------- Type hierarchy ----------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0 0 1.5rem;
}

h1 {
  font-size: 1.802rem;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--color-primary);
  text-align: center;
}

h2 {
  font-size: 1.602rem;
  text-transform: uppercase;
  font-weight: normal;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
  text-transform: uppercase;
}

h5 {
  font-size: 1.125rem;
  color: var(--color-primary);
  border-bottom: 1px solid #ccc;
}

h6 {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
}

small {
  font-size: 0.889rem;
}

@media only screen and (min-width: 45em) {

  /* ---------- Tablet ---------- */
  h1 {
    font-size: 2.488rem;
  }

  h2 {
    font-size: 2.074rem;
  }

  h3 {
    font-size: 1.728rem;
  }

  h4 {
    font-size: 1.44rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  small {
    font-size: 0.833rem;
  }
}

@media only screen and (min-width: 60em) {

  /* ---------- Desktop ---------- */
  h1 {
    font-size: 3.052rem;
  }

  h2 {
    font-size: 2.441rem;
  }

  h3 {
    font-size: 1.953rem;
  }

  h4 {
    font-size: 1.563rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  small {
    font-size: 0.8rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul{
  list-style: none;
}

* {
  box-sizing: border-box;
}

header{
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--color-primary-light);
  text-align: center;
  background-color: var(--color-primary-darker);
  color: #fff;
  margin: 0 auto;
}

header a{
  color: #fff;
  margin: 0 auto;
}

h1{
  margin: 0rem;
  font-size: 3.052rem;
}

h2{
  margin: 0;
  padding: 1rem 0rem;
  padding-top: 2rem;
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

nav{
  display: flex;
  flex-direction: column;
}

nav li{
  padding-top: 0.5rem;
}

footer {
  padding: 2rem 0;
  border-top: 1px solid var(--color-primary-light);
  text-align: center;
  background-color: var(--color-primary-darker);
  color: #fff;
}

footer a {
  transition: color 0.3s;
}

header nav a:hover,
header nav a.active,
footer a:hover,
footer a:active{
  color: var(--color-primary-pale);
}

header ul{
  padding: 0;
}

footer ul {
  padding: 1rem;
  margin-bottom: 0rem;
  font-size: smaller;
  display: flex;
  justify-content: center;
  gap:1rem;
}

@media only screen and (min-width: 45em) {
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  header ul {
    margin: 0rem;
  }

  nav ul{
    display: flex;
    gap: 1rem;
  }

  footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin: 0 auto;
  }

  footer small {
    padding-right: 0.4rem;
  }

  footer ul {
    padding: 0;
    margin: 0;
  }
}
