.container { 
  background-color: #414A89;
  overflow: hidden;
}

.main header{
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-image: linear-gradient(to bottom,#0007, #0007), url("/images/banner.png"); /*Designed by Freepik*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container section {
  padding: 5rem 2rem;
}

.main header button{
  color: var(--color-primary-darker);
  background-color: #fff;
  font-size: 1rem;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
  transition: 0.3s;
}

.main p{
  font-size: 1.3rem;
  margin: 0;
  margin-bottom: 2rem;
}

.main button:hover,
.main button:active{
  background-color: var(--color-primary-darker);
  color: #fff;
  border-color: var(--color-primary-darker);;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
}

.title,
.description,
.heading {
  text-align: center;
  color: #fff;
}

.description {
  margin: 2rem 0;
}

.heading{
  margin: 0;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
